<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Page</title>
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css3/normalize3.css">
  <link rel="stylesheet" href="css3/foundation.min3.css">
  <link rel="stylesheet" href="css3/custom3.css">
</head>
<body> -->
<!--    <header id = "site-header">
      <div class="row">
        <div class="large-9 columns">
          <br>
          
        </div>
       <h3> <div class="large-3 columns medium-3 columns small-3 columns">Pasta Masta</h3>
        </div>
        </header> -->
       <div class="wrapper">
          <div class="row large-12 columns full-header">
            <h3>Grilled Steak and Pasta Salad</h3>
            <p>Delicious salad hearty enough for the big boys. The kids love it too because it has meat and pasta. When I make the dressing, I double it and split it in half. I only use cayanne pepper half so the kids can eat it or anyone who doesn't like spicy.</p>
          </div>
            <div class="row large-6 columns full-ingredients">
              <h3>Ingredients</h3>
                <p>Steak Marinade:<br> 1/2 cup cooking oil <br>1/3 cup soy sauce <br>1/4 cup red wine vinegar <br>2 Tbls lemon juice <br>1 Tbls Worcestersire sauce <br>1 tsp. dry mustard <br>1 clove garlic, minced <br>1/4 tsp pepper Dressing <br>1/4 cup rice vinegar <br>2 tablespoons light mayonnaise <br>2 tablespoons extra-virgin olive oil <br>1 teaspoon salt <br>1/2 teaspoon dried oregano <br>1/2 teaspoon ground cumin <br>1/4 teaspoon cayenne pepper <br>12 ounces flank steak or skirt steak <br>1/2 teaspoon Montreal steak seasoning (such as McCormick's) <br>1/2 pound bowtie pasta <br>2 large tomatoes, cut into 1-inch pieces <br>1 medium-size sweet onion, quartered and thinly sliced <br>2 cups corn kernels from 2 ears of corn <br>1/3 cup fresh flat-leaf parsley, chopped <br>1/3 cup fresh basil, chopped <br>8 cups mixed salad greens</p>
            </div>
            <div class="large-6 columns">
              <div class="full-method">
               <article>
                    <h3>Grilled Steak and Pasta Salad</h3>
                  <p>Marinade: Combine ingredients in a plastic baggie with steak. Mush around to coat the meat. Marinate in fridge for 30 minutes to overnight. (Great for any steak for any recipe). <br>1.In a bowl, whisk vinegar, mayonnaise, oil, salt, oregano, cumin and cayenne until well blended. Set aside. <br>2. Heat a gas grill to medium-high or prepare a grill with medium-hot coals. Bring a large pot of water to a boil. <br>3. Marinate steak in Weber Grill marinade recipe for 30 minutes or more if you can. Grill 4 to 5 minutes per side or until internal temperature reads 145°F on an instant-read thermometer for medium-rare. Let rest 10 minutes then cut into thin slices. <br>4. Cook pasta in boiling water. Drain; rinse under cold water. <br>5. Toss pasta with dressing in serving bowl. Add steak, tomatoes, onion, corn, parsley and basil to bowl; toss to combine. Chill 1 hour, then serve over greens.</p>
                </article>
            </div>

          </div>
          <div class="row">
              <div class="large-6 medium-6 small-6 columns">
                <h3>Tips</h3>
                Don't put oil in yer water
              </div>
             </div> 
              <div class="large-6 medium-6 small-6 columns"><h3>Cook Time</h3>
                fucking forever</div>
              <div class="large-6 medium-6 small-6 columns">
              <h3>Number cooked</h3>
              4 times
            </div>
        </div>
        
                <div class="row">
                  <!-- comments div below doesn't have a div class as yet -->
                  <div class="large-6 columns"><h3>Comments</h3>Not as fresh as Mike's donuts - someone</div></div>
                  <div class="row">
                    <div class="large-6 columns"><div class="full-rating"><h3>Rating</h3>5 stars</div></div>


              </div>
          </div>


      </div>
         
<!-- 
    </body>
</html>