<!-- ######## full screen view ######## -->
<!-- #### outer container - in layout #### -->
<div id="recipe-detail">
  
  <div class="full-card">
    <div class="full-close-btn">
      <p>close</p>
    </div>
    <div class="full-image">
      <img src="image link in here" alt="">
    </div>
    <div class="full-header">
      recipe title in here
    </div>
    <div class="full-copy">
      recipe title in here
    </div>
    <div class="full-ingredients">
      recipe ingredients in here
    </div>
    <div class="full-method">
      recipe method in here
    </div>
    <div class="full-rating">
      recipe user rating in here
    </div>
    <div class="full-cook-time">
      recipe cook time in here
    </div>
    <div class="full-nbr-cooked">
      recipe number of times cooked in here
    </div>
  </div>

</div>



<!-- ######## cards for recipes ######## -->
<!-- #### outer container - in index #### -->
<div class="cards"> 

  <!-- #### example card containers #### -->
  <div class="card">
    <div class="card-image">
      <img src="http://www.countrysidecravings.com/wp-content/uploads/2015/04/One-Pot-Pizza-Pasta.png" alt="">
    </div>
    <div class="card-header">
      One Pot Pizza Pasta
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

</div>

