<!-- ######## full screen view ######## -->
<!-- #### outer container - in layout #### -->
<div id="recipe-detail">
  
  <div class="full-card">
    <div class="full-close-btn">
      <p>close</p>
    </div>
    <div class="full-image">
      <img src="image link in here" alt="">
    </div>
    <div class="full-header">
      recipe title in here
    </div>
    <div class="full-copy">
      recipe title in here
    </div>
    <div class="full-ingredients">
      recipe ingredients in here
    </div>
    <div class="full-method">
      recipe method in here
    </div>
    <div class="full-rating">
      recipe user rating in here
    </div>
    <div class="full-cook-time">
      recipe cook time in here
    </div>
    <div class="full-nbr-cooked">
      recipe number of times cooked in here
    </div>
  </div>

</div>


<!-- ######## cards for recipes ######## -->
<!-- #### outer container - in index #### -->
<div class="cards"> 

  <!-- #### example card containers #### -->
  <div class="card">
    <div class="card-image">
      <img src="http://www.countrysidecravings.com/wp-content/uploads/2015/04/One-Pot-Pizza-Pasta.png" alt="">
    </div>
    <div class="card-header">
      One Pot Pizza Pasta
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

</div>

<!-- ######## search section ######## -->
<button class="phils-magic-button">Search Yo</button>
<div class="phils-magic-search">
  <div class="phils-magic-search-row-1">
    <img class="phils-magic-search-img" data-filter="beef" src="/assets/icons/beef.svg" alt="beef">
    <img class="phils-magic-search-img" data-filter="pork" src="/assets/icons/pork.svg" alt="pork">
    <img class="phils-magic-search-img" data-filter="poultry" src="/assets/icons/poultry.svg" alt="poultry">
    <img class="phils-magic-search-img" data-filter="lamb" src="/assets/icons/lamb.svg" alt="lamb">
  </div>
  <div class="phils-magic-search-row-2">
    <img class="phils-magic-search-img" data-filter="seafood" src="/assets/icons/seafood.svg" alt="seafood">
    <img class="phils-magic-search-img" data-filter="tomato" src="/assets/icons/tomato.svg" alt="tomato">
    <img class="phils-magic-search-img" data-filter="green" src="/assets/icons/green.svg" alt="green">
    <img class="phils-magic-search-img" data-filter="mushroom" src="/assets/icons/mushroom.svg" alt="mushroom">
  </div>
  <div class="phils-magic-search-row-3">
    <img class="phils-magic-search-img" data-filter="eggplant" src="/assets/icons/eggplant.svg" alt="eggplant">
    <img class="phils-magic-search-img" data-filter="cream" src="/assets/icons/cream.svg" alt="cream">
    <img class="phils-magic-search-img" data-filter="salad" src="/assets/icons/salad.svg" alt="salad">
    <img class="phils-magic-search-img" data-filter="bake" src="/assets/icons/bake.svg" alt="bake">
  </div>
</div>
<button class="phils-magic-go">exec</button>
