
<div id="recipe-detail">
  
</div>

<div class="cards">
  
</div>

<script>
  applyFilters.getRecipes();
  setTimeout(applyFilters.displayRecipes, 2000);
  setTimeout(windowSizeCheck, 2100);
</script>