<button class="phils-magic-button">Search Yo</button>
<div class="phils-magic-search">
  <div class="phils-magic-search-row-1">
    <img class="phils-magic-search-img" data-filter="beef" src="#" alt="beef">
    <img class="phils-magic-search-img" data-filter="pork" src="#" alt="pork">
    <img class="phils-magic-search-img" data-filter="poultry" src="#" alt="poultry">
    <img class="phils-magic-search-img" data-filter="lamb" src="#" alt="lamb">
  </div>
  <div class="phils-magic-search-row-2">
    <img class="phils-magic-search-img" data-filter="seafood" src="#" alt="seafood">
    <img class="phils-magic-search-img" data-filter="tomato" src="#" alt="tomato">
    <img class="phils-magic-search-img" data-filter="green-vegetable" src="#" alt="green">
    <img class="phils-magic-search-img" data-filter="mushroom" src="#" alt="mushroom">
  </div>
  <div class="phils-magic-search-row-3">
    <img class="phils-magic-search-img" data-filter="eggplant" src="#" alt="eggplant">
    <img class="phils-magic-search-img" data-filter="cream" src="#" alt="cream">
    <img class="phils-magic-search-img" data-filter="salad" src="#" alt="salad">
    <img class="phils-magic-search-img" data-filter="bake" src="#" alt="bake">
  </div>
</div>
<button class="phils-magic-go">exec</button>