
// ------------- START OF FOOTER -------------


 // Uncomment this for a sticky footer.
//
// .wrapper-for-content-outside-of-footer {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -4em;
// }

// html, body {
//  height: 100%;
// }

// .wrapper-for-content-outside-of-footer:after {
//   content: "";
//   display: block;
// }

// .footer-2, .wrapper-for-content-outside-of-footer:after {
//   height: 17em;

//   @include media($large-screen) {
//     height: 4em;
//   }
// }

.footer-2 {
  font-family: helvetica, arial;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $small-screen: em(440) !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: #818181;
  $footer-trim: #EB8E60;
  $footer-color: white;

  background: $footer-background;
  border-top: 10px solid $footer-trim;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;
  
  .modal-trigger {
    color: white;
  }

  .footer-primary-links > ul {
    text-align: center;
  }

  .wrapper {
    @include clearfix;
  }

  @include media($medium-screen) {
    padding: 0em
  }

  @include media($small-screen) {
    padding: 0em
  }

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  } 

  .footer-link ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }


    @include media($medium-screen) {
      text-align: center;
    }

    @include media ($small-screen) {
      text-align: center;
    }
  }

  ul li {
    font-weight: 400;
    list-style: none;
    padding-right: 1em;
    display: inline;


    @include media($large-screen) {
      display: inline;
      text-align: center;
    }
  }

  ul li a {
    color: $footer-color;
    text-decoration: none;
    


    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }


  }



  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }
    
    .social-wrapper {
      text-align: center;
    }  



    ul.footer-social {
      margin: 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;


        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }


  .footer-primary-links {

  }

  div.social-wrapper > ul.footer-social {
    text-align: center;
  }

  .footer-secondary-links {
    text-align: center;
  }

  @include media($large-screen) {

    .footer-links ul {
      display: inline;
    }

    .footer-secondary-links {
      display: inline;
    }
  }

}

  .footer-social img {
    max-height: 2em;
  }