$header-background: #818181;
$header-trim: #EB8E60;
$header-font-color: white;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $header-background;
  border-bottom: 10px solid $header-trim;
  color: $header-font-color;
  height: 15vh;
  width: 100vw;
}

.header-content {
  display: inline;
  height: 5vh;
}

.header-logo {
  float: left;
  display: block;
  margin-left: 10px;

  h1 {
    font-size: 2.5em;
    line-height: 1.4em;
    margin-top: 0.35em;
    margin-bottom: 0.35em;

    @media (max-width: 440px) {
      font-size: 1.5em;
      line-height: 2.5em;
    }
  }
}

.header-content {
  float: right;
}

.header-searchlogo, .header-accountlogo {
  display: inline-block;
  margin-right: -10px;
  @media (min-width: 440px) {
    margin-right: 10px;
  }
}

.search-dropdown, .modal-trigger {
  height: 1.6em;
  opacity: 1.0;
  padding: 2.5vh;
  
  @media (max-width: 440px) {
    padding-top: 1vh;
  }

  &:focus,
  &:hover {
    opacity: 0.5;
  }
}


.search-dropdown {
  display: inline-block;
}

.modal-trigger, .modal {
  display: inline-block;
}

.logo {
  width: 62vw;
  font-size: 5vh;
  font-weight: bold;
  line-height: 9vh;
  display: inline-block;
}

.account-toggle * {
  line-height: 11vh;
}

// SEARCH ELEMENTS
.search-img {
  margin: 0.25vh 0.25vw;
  padding: 0;
  height: 6.5vw;
  width: 6.5vw;
  border: 1vw solid rgb(255, 110, 110);
  background-color: rgb(255, 110, 110);
  border-radius: 10px;
  @media (max-width: 440px) {
    width: 23vw;
    height: 23vw;
  }
}

.search-execute {
  box-shadow: none;
  width: 10vw;
  @media (max-width: 440px) {
    width: 99vw;
    height: 23vw;
  }
}

.search-wrapper {
  display: block;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.0);
}

.icon-selected {
  background-color: rgb(255, 155, 155);
  border: 1vw solid rgb(255, 155, 155);
}

.search-dropdown * {
  line-height: 11vh;
}

// END SEARCH ELEMENTS

.header-spacer {
  margin-bottom: 15.2vh;
  /*margin-bottom: 6.6em;*/
}
