$header-background: #818181;
$header-trim:#EB8E60;
$header-font-color: white;

header {
  background-color: $header-background;
  border-bottom: 10px solid $header-trim;
  color: $header-font-color;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 11vh;
  width: 100vw;
}

.search-dropdown, .modal-trigger {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }

.search-dropdown {
  display: inline-block;
}

.modal-trigger, .modal {
  display: inline-block;
}

.logo {
  width: 62vw;
  padding-left: 3vw;
  font-size: 5vh;
  font-weight: bold;
  line-height: 9vh;
  display: inline-block;
}

.logo > h1 {
}

.account-toggle * {
  line-height: 11vh;
}

// SEARCH SHIT FROM HERE
.search-img {
  margin: 0;
  padding: 0;
  height: 15vh;
  max-width: 25vw;
  border: 10px solid rgb(255, 110, 110);
  background-color: rgb(255, 110, 110);
  border-radius: 10px;
}

.search-wrapper {
  display: block;
  margin: 0 auto;
  background-color: red;
}

.icon-selected {
  background-color: red;
}

.search-dropdown * {
  line-height: 11vh;
  margin-left: 4vw;
}

.search-execute {
  display: block;
}
// DOWN TO HERE

.header-spacer {
  height: 11vh;
  margin-bottom: 2vh;
}



