#recipe-detail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 38921750389175;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #E3DCDC;
  margin-bottom: 20px;
  font-weight: 300;
}

.full-close-btn {
  position: fixed;
  top: 3vw;
  right: 3vw;
  background: white;
  margin: 0;
  padding: 0;
  font-size: 15vh;
  text-align: center;
  height: 15vh;
  line-height: 15vh;
  width: 15vh;
  opacity: .7;
  border-radius: 100%;
  z-index: 1;
}

.full-image {
  width: 100vw;
}

.full-header {
  padding: 0 5vw;
  margin-top: -6.5vh;
  opacity: .7;
}

.full-copy {
  padding: 0 5vw;
}

.recipe-detail {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.full-ingredients {

}

.full-method {

}

.full-rating {

}

.full-cook-time {

}

.full-nbr-cooked {

}

.columns {
  min-height: 100px;
}

header p {
  color: white;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.large-12 {
  background-color: #BABCBC;
}
.large-6 {
  background-color: #E3DCDC;
}
.large-4 {
  background-color: #BABCBC;
}
