#recipe-detail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 38921750389175;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #E3DCDC;
  font-weight: 300;
}

.full-close-btn {
  position: fixed;
  top: 13vh;
  right: 3vw;
  background: #2e2e2e;
  margin: 0;
  padding: 0;
  font-size: 10vh;
  text-align: center;
  height: 12vh;
  line-height: 12vh;
  width: 12vh;
  opacity: .6;
  border-radius: 100%;
  z-index: 1;
  color: #e2e2e2;
}

.full-image {
  text-align: center;
  width: 100vw;
}

.full-header {
  padding: 0 5vw;
  margin-top: -6.5vh;
  opacity: .7;
  text-align: center;
}

.full-copy {
  padding: 0 5vw;
}

.columns {
  min-height: 60px;
}

.full-spacer {
  min-height: 0;  
}

header p {
  color: white;
}
h3 {
  font-weight: 900;
}

h5 {
  font-weight: 900;
}

.large-12 {
  background-color: #BABCBC;
}
.large-6 {
  background-color: #E3DCDC;
}
.large-4 {
  background-color: #BABCBC;
}
