#recipe-detail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 38921750389175;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: white;
}

.full-close-btn {

}

.full-image {

}

.full-header {

}

.full-copy {

}

.full-ingredients {

}

.full-method {

}

.full-rating {

}

.full-cook-time {

}

.full-nbr-cooked {

}

*:not(body):not(html) {
  box-sizing:border_box;
  /*border:1px solid #000;*/
}
body {
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
}

.columns {
  min-height: 100px;
}

header#site-header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #B9AEAE;
}
header p {
  color: white;
}
h3 {
  font-family: roboto;
  font-weight: 900;
}
.wrapper {
  margin-bottom: 20px;
}
.large-12 {
  background-color: #BABCBC;
}
.large-6 {
  background-color: #E3DCDC;
}
