.phils-magic-search-img {
  margin: 0;
  padding: 0;
  height: 10vh;
  max-width: 25vw;
  border: 5px solid lightcoral;
  background-color: lightpink;
  border-radius: 5px;
}

.icon-selected {
  background-color: lightcoral;
}